$LoginButtonColor: #21bafe;
$LoginButtonText: #ffffff;

button.ui.large.fluid.button.LoginButton {
  background: $LoginButtonColor !important;
  color: $LoginButtonText !important;
  border-radius: 25px;
  width: 80%;
  position: relative;
  left: 8%;
}
.loginFormMain {
  // margin-top: 150px !important;
  width: 80%;
  position: absolute;
  top: 30%;
  //height: 100vh;
  .ui.segment {
    border-radius: 0px;
  }
  h2.ui.header {
    margin-top: 30px;
  }
}
